<div class="img_logo" id="div_display">
	<img src="https://drive.google.com/uc?id=1REIrZ-N8HyNdaHoAyjnoPjAWFw2R3x5E" data-lfr-editable-id="image-square" data-lfr-editable-type="image">
</div>

<div class="header" id="div_display">
    <div class="menu">
        <ul>
            <li>
                <a href="" data-lfr-editable-id="link" data-lfr-editable-type="link">About Us</a>
            </li>
            <li>
                <a href="" data-lfr-editable-id="link-2" data-lfr-editable-type="link">Sign In</a>
            </li>
            <li>
                <a href="" data-lfr-editable-id="link-3" data-lfr-editable-type="link">Invest</a>
            </li>
        </ul>
    </div>
</div>