<p data-lfr-editable-id="element-text_1" data-lfr-editable-type="rich-text">
	<b><span style="color: DeepSkyBlue;">                                                     Raising generations</span>
</p>
<p data-lfr-editable-id="element-text_2" data-lfr-editable-type="rich-text">
	<b><span style="color: DeepSkyBlue;">                                                     of</span> <span style="color: Salmon;">CHRIST</span> <span style="color: DeepSkyBlue;">followers</span>
</p>
<p data-lfr-editable-id="element-text_3" data-lfr-editable-type="rich-text">
	<b>                                                     who bleed <span style="color: Salmon;">BIBLINE</span></b>
</p>